:root {
    --primary-text-color: #212121;
    --subtitle-text-color: #757575;
    --accent-color: #2196F3; 
}

body {
    margin: 0;
    background-color: #F5F5F5;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}


/* Навігація сайту */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700; 
    font-size: 26px; 
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}



.logo {
    text-decoration: none;
}

.web-color {
    color: var(--accent-color);
}

.studio-color {
    color: #000000;
}

.item {
    list-style-type: none;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.nav-item {
    text-decoration: none;
    color: var(--subtitle-text-color);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;   
}

.nav-item:hover, .nav-item:focus {
    color: var(--accent-color);
}
/* Контакти хедер */


/* <!-- Секція основного заголовку --> */
/* Герой */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;

}


.button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    width: 216px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    

}

/* Друга секція - переваги */


/* Для усіх h2 задаю один колір та розмір тексту */
/* .benefits-list .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
} */

/* Для усіх h3 задаю один колір та розмір тексту крім секції команда, там інші розміри */
.title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}
.benefits-list {
    list-style-type: none;
}

.benefits-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}

/* Для усіх p у li задаю один колір */
.benefits-list .text {
    color: var(--subtitle-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.features {
    list-style-type: none;  
}

/* Третя секція - чим займаємося */
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}

.features-link {
    width: 370px;
}

/* Четверта секція - наша команда */
.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-list .text {
    color: var(--subtitle-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* Підвал сайту */
.footer {
    background-color: #2F303A;
}

.footer .address {
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none; 
    letter-spacing: 0.03em;
}

.footer .contacts {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;

}

.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}

.studio-color.foot {
    color: #FFFFFF;
}

/* цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент синий #2196F3*/



/* Стилі до portfolio.html */


/* Секція - основной контент */
.filter, .filter-list {
    list-style: none;
}
 

.portfolio-button {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
}


.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.filter .portfolio-button.current {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.logo-portfolio {
    text-decoration: none;
}



.logo-portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    
}

.logo-portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--subtitle-text-color);  
    letter-spacing: 0.03em;
}

